# ===================================================================
# tpDcc-config requirements file
# ===================================================================

pytest
pytest-cov
coveralls
